<div id="nav">
    <div></div>
    <h1 id="sectiontitle">Therapy and visits</h1>
    <div></div>
</div>
<iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FRome&amp;src=NTFpdDRpbWtnYjE4OThqM25kcmhkdDJsNWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%233F51B5&amp;hl=it" style="border:solid 1px #777" width="100%" height="400px" frameborder="0" scrolling="no"></iframe>

<div class="description" id="comingevents">Next appointments</div>
<div class="comingevent">
    <div class="eventdetails">
        <p class="description">Therapy pickup</p>
        <p class="description">February 8th, 2021 h14.30</p>
    </div>
    <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NThmN3JwMnFuaGJucXBtaTJpZWZkcW9tdHUgNTFpdDRpbWtnYjE4OThqM25kcmhkdDJsNWtAZw&amp;tmsrc=51it4imkgb1898j3ndrhdt2l5k%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
</div>
<div class="comingevent">
    <div class="eventdetails">
        <p class="description">Checkup visit</p>
        <p class="description">March 12th, 2021 h10.50</p>
    </div>
    <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NmhobTZtOGM4cmRzdGZuc2xrdHRjNDVpMzcgNTFpdDRpbWtnYjE4OThqM25kcmhkdDJsNWtAZw&amp;tmsrc=51it4imkgb1898j3ndrhdt2l5k%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
</div>