<div id="nav">
    <div><a href="#newpassword" id="back"><i class="fas fa-arrow-left"></i></a></div>
    <h1>Scegli una password</h1>
    <div></div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
        <form action="/" method="post" id="choosepasswordForm" name="choosepassword" enctype="multipart/form-data">
            <p>Scegli una nuova password composta da almeno 8 caratteri, di cui almeno una lettera maiuscola e un numero.</p>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls"><label>Password</label><input class="form-control" type="password" id="password" name="password" placeholder="Password"><small class="form-text text-danger help-block"></small></div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls"><label>Ripeti password</label><input class="form-control" type="password" id="password2" name="password2" placeholder="Ripeti password"><small class="form-text text-danger help-block"></small></div>
            </div>
            <div id="success"></div>
            <div class="form-group"><button class="btn btn-primary btn-success" id="choosepasswordButton" type="submit">Conferma nuova password</button></div>
        </form>
    </div>
</div>
<div class="identity">
    <img class="logo-small" src="../static/img/logo.png">
    <h2 class="tagline-small">Closer • Faster • Safer</h2>
</div>