<div id="nav">
    <div><a href="#pickuphour" id="back"><i class="fas fa-arrow-left"></i></a></div>
    <h1 id="sectiontitle">Book a pickup</h1>
    <div></div>
</div>
<div id="hospitalDetails">
    <div id="hospitalNameAddress">
        <p><b>Azienda Ospedaliera Antonio Cardarelli </b></p>
        <p>Via A. Cardarelli 9, 80131 Napoli</p>
    </div>
    <button class="btn2" id="infoButton" type="button">INFO</button>
</div>
<p>Chosen time</p>
<div id="chosentime">
    <p id="chosenday"><b><span id="day-for-pickup"></span></b></p>
    <p id="chosenhour"><b><span id="hour-for-pickup"></span></b></p>
</div>
<div id="finalchoice">
    <button class="btn btn-primary" id="confirmpickupButton" type="button">Confirm</button>
    <button class="btn btn-primary" id="modifypickupButton" type="button">Edit</button>
</div>
<p><b>WARNING!</b></p>
<p>Once confirmed, the pickup cannot be further modified.</p>
</div>