<div id="nav">
    <div><a href="#signup" id="back"><i class="fas fa-arrow-left"></i></a></div>
    <h1 id="sectiontitle">Dati aggiuntivi</h1>
    <div></div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
        <form action="/" method="post" id="emailphonesignupForm" name="emailphonesignup" enctype="multipart/form-data">
            <div class="control-group">
                <p>Associa al tuo profilo il tuo indirizzo email e il tuo numero di cellulare.   </p><br>
                <p>Saranno utili per inviarti comunicazioni di servizio per la gestione del ritiro della terapia e per recuperare le tue credenziali in caso di smarrimento.</p>
                <div class="form-group floating-label-form-group controls"><label>Indirizzo email</label><input class="form-control" type="email" id="email" name="email" placeholder="Indirizzo email"><small class="form-text text-danger help-block"></small></div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls"><label>Numero di cellulare</label><input class="form-control" type="tel" id="phone" name="phone" placeholder="Numero di cellulare"><small class="form-text text-danger help-block"></small></div>
            </div>
            <div id="success"></div>
            <div class="form-group"><button class="btn btn-primary btn-success" id="emailphonesignupButton" type="submit">Conferma</button></div>
        </form>
    </div>
</div>
<div class="identity">
    <img class="logo-small" src="../static/img/logo.png">
    <h2 class="tagline-small">Closer. Faster. Safer.</h2>
</div>