<div id="nav">
    <div><a href="#menu" id="back"><i class="fas fa-arrow-left"></i></a></div>
    <h1 id="sectiontitle">Notifiche</h1>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-bars" style="font-size: 50px;"></i>
                </button>
            </div>
        </nav>
    </div>
</div>
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Menu</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a id="#menu" href="#menu">Home</a>
            </li>
            <li>
                <a id="calendar" href="#calendar">Calendario</a>
            </li>
            <li>
                <a id="profile" href="#profile">Profilo</a>
            </li>
            <li>
                <a id="pickup" href="#pickup">Ritiro</a>
            </li>
            <li class="active">
                <a id="therapy" href="#therapy">Terapia</a>
            </li>
            <li>
                <a id="notifications" href="#notifications">Notifiche</a>
            </li>
            <li>
                <a id="guide" href="#guide">Guida</a>
            </li>
            <li>
                <a id="settings" href="#settings">Impostazioni</a>
            </li>
        </ul>
    </nav>
</div>
<div class="panel-group" id="accordion">
    <a href="#readyforpickup" id="readyforpickup"><p>Prossima terapia da ritirare il giorno 8 Febbraio 2021 alle ore 13:30</p></a>
    <p>Ultima terapia ritirata il giorno 14 Dicembre 2020 alle ore 11:30</p>
</div>