<div id="nav">
    <div><a href="javascript:history.back()" id="back"><i class="fas fa-arrow-left"></i></a></div>
    <h1 id="sectiontitle">Information about the hospital center</h1>
    <div></div>
</div>
<div id="hospitalDetails">
    <div id="hospitalNameAddress">
        <p><b>Azienda Ospedaliera Antonio Cardarelli </b></p>
        <p>Via A. Cardarelli 9, 80131 Napoli</p>
    </div>
</div>
<iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJszrYppoIOxMRCuwS1HuPzWY&key=AIzaSyBaUSezVYqmFvkz1EvK_5nJB-l6zYdyw_w" allowfullscreen></iframe>