
<div id="nav">
    <div><a href="#calendar" id="calendar"><i class="far fa-calendar-alt" style="font-size: 50px;"></i></a></div>
    <div>
        <img class="logo" src="../static/img/logo.png" style="height: 80px; width: auto;">
        <h2 class="tagline">Closer • Faster • Safer</h2>
    </div>
    <div><a href="#sidebar" id="sidebar"><i class="fas fa-bars" style="font-size: 50px;"></i></a></div>
</div>
<div class="row">
    <div class="col-6 option">
        <img src="../static/img/profilo.png" style="height: 50px;">
        <h4>Profilo</h4>
    </div>
    <div class="col-6 option">
        <img src="../static/img/ritiro.png" style="height: 50px;">
        <h4>Ritiro</h4>
    </div>
    <div class="col-6 option">
        <img src="../static/img/terapia.png" style="height: 50px;">
        <h4>Terapia</h4>
    </div>
    <div class="col-6 option">
        <img src="../static/img/notifiche.png" style="height: 50px;">
        <h4>Notifiche</h4>
    </div>
    <div class="col-6 option">
        <img src="../static/img/guida.png" style="height: 50px;">
        <h4>Guida</h4>
    </div>
    <div class="col-6 option">
        <img src="../static/img/impostazioni.png" style="height: 50px;">
        <h4>Impostazioni</h4>
    </div>
</div>