
<div id="nav">
    <div><a href="#calendar" id="calendar"><i class="far fa-calendar-alt" style="font-size: 50px;"></i></a></div>
    <div>
        <img class="logo" src="../static/img/logo.png" style="height: 80px; width: auto;">
        <h2 class="tagline">Closer • Faster • Safer</h2>
    </div>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-bars" style="font-size: 50px;"></i>
                </button>
            </div>
        </nav>
    </div>
</div>
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Menu</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a id="#menu" href="#menu">Home</a>
            </li>
            <li>
                <a id="profile" href="#profile">Profilo</a>
            </li>
            <li>
                <a id="pickup" href="#pickup">Ritiro</a>
            </li>
            <li>
                <a id="therapy" href="#therapy">Terapia</a>
            </li>
            <li>
                <a id="notifications" href="#notifications">Notifiche</a>
            </li>
            <li>
                <a id="guide" href="#guide">Guida</a>
            </li>
            <li>
                <a id="settings" href="#settings">Impostazioni</a>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <div id="profile" class="col-6 option">
        <img src="../static/img/profilo.png" style="height: 50px;">
        <h4>Profilo</h4>
    </div>
    <div id="pickup" class="col-6 option">
        <img src="../static/img/ritiro.png" style="height: 50px;">
        <h4>Ritiro</h4>
    </div>
    <div id="therapy" class="col-6 option">
        <img src="../static/img/terapia.png" style="height: 50px;">
        <h4>Terapia</h4>
    </div>
    <div id="notifications" class="col-6 option">
        <img src="../static/img/notifiche.png" style="height: 50px;">
        <h4>Notifiche</h4>
    </div>
    <div id="guide" class="col-6 option">
        <img src="../static/img/guida.png" style="height: 50px;">
        <h4>Guida</h4>
    </div>
    <div id="settings" class="col-6 option">
        <img src="../static/img/impostazioni.png" style="height: 50px;">
        <h4>Impostazioni</h4>
    </div>
</div>