<div id="nav">
    <div><a href="#login" id="back"><i class="fas fa-arrow-left"></i></a></div>
    <h1 id="sectiontitle">Password dimenticata?</h1>
    <div></div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
        <form action="/" method="post" id="recoveryForm" name="recovery" enctype="multipart/form-data">
            <div class="control-group">
                <p>Inserisci nel campo “Username” il codice indicato sulla card che ti ha fornito il centro ospedaliero presso cui hai deciso di ritirare la tua terapia HIV.</p>
                <div class="form-group floating-label-form-group controls"><label>Userame</label><input class="form-control" type="text" id="username" name="username" placeholder="Userame"><small class="form-text text-danger help-block"></small></div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls"><label>Codice Fiscale</label><input class="form-control" type="text" id="cf" name="cf" placeholder="Codice Fiscale"><small class="form-text text-danger help-block"></small></div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls"><label>Numero di cellulare</label><input class="form-control" type="tel" id="phone" name="phone" placeholder="Numero di cellulare"><small class="form-text text-danger help-block"></small></div>
            </div>
            <div id="success"></div>
            <div class="form-group"><button class="btn btn-primary btn-success" id="recoveryButton" type="button" style="font-size: 12px;">Chiedi nuova password</button></div>
        </form>
    </div>
</div>