<div id="nav">
    <div><a href="#menu" id="back"><i class="fas fa-arrow-left"></i></a></div>
    <h1 id="sectiontitle">Prenota un ritiro</h1>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-bars" style="font-size: 50px;"></i>
                </button>
            </div>
        </nav>
    </div>
</div>
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Menu</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a id="menu" href="#menu">Home</a>
            </li>
            <li>
                <a id="profile" href="#profile">Profilo</a>
            </li>
            <li class="active">
                <a id="pickup" href="#pickup">Ritiro</a>
            </li>
            <li>
                <a id="therapy" href="#therapy">Terapia</a>
            </li>
            <li>
                <a id="notifications" href="#notifications">Notifiche</a>
            </li>
            <li>
                <a id="guide" href="#guide">Guida</a>
            </li>
            <li>
                <a id="settings" href="#settings">Impostazioni</a>
            </li>
        </ul>
    </nav>
</div>
<div id="hospitalDetails">
    <div id="hospitalNameAddress">
        <p><b>Azienda Ospedaliera Antonio Cardarelli </b></p>
        <p>Via A. Cardarelli 9, 80131 Napoli</p>
    </div>
    <button class="btn2" id="infoButton" type="button">INFO</button>
</div>
<div id="dayChooser">
    <p style="margin: auto"><b>Scegli un giorno</b></p>
    <div id="filterDays">
        <button class="btn2 active" id="filterAllDays" type="button">Tutti (6)</button>
        <button class="btn2" id="filterCurrentWeek" type="button">Settimana corrente (5)</button>
        <button class="btn2" id="filterNextWeek" type="button">Prossima settimana (1)</button>
    </div>
</div>
<button class="btn btn-primary available-day" id="available-day1" type="button">4 febbraio 2021</button>
<button class="btn btn-primary available-day" id="available-day2" type="button">5 febbraio 2021</button>
<button class="btn btn-primary available-day" id="available-day3" type="button">8 febbraio 2021</button>
<button class="btn btn-primary available-day" id="available-day4" type="button">11 febbraio 2021</button>
<button class="btn btn-primary available-day" id="available-day5" type="button">12 febbraio 2021</button>
<button class="btn btn-primary available-day" id="available-day6" type="button">12 febbraio 2021</button>
<div class="identity">
    <img class="logo-small" src="../static/img/logo.png">
    <h2 class="tagline-small">Closer. Faster. Safer.</h2>
</div>