<div id="nav">
    <div><a href="#pickup" id="back"><i class="fas fa-arrow-left"></i></a></div>
    <h1 id="sectiontitle">Prenota un ritiro</h1>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-bars" style="font-size: 50px;"></i>
                </button>
            </div>
        </nav>
    </div>
</div>
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Menu</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a id="menu" href="#menu">Home</a>
            </li>
            <li>
                <a id="calendar" href="#calendar">Calendario</a>
            </li>
            <li>
                <a id="profile" href="#profile">Profilo</a>
            </li>
            <li class="active">
                <a id="pickup" href="#pickup">Ritiro</a>
            </li>
            <li>
                <a id="therapy" href="#therapy">Terapia</a>
            </li>
            <li>
                <a id="notifications" href="#notifications">Notifiche</a>
            </li>
            <li>
                <a id="guide" href="#guide">Guida</a>
            </li>
            <li>
                <a id="settings" href="#settings">Impostazioni</a>
            </li>
        </ul>
    </nav>
</div>
<p>Giorno scelto: <b>8 Febbraio 2021</b></p>
<div id="hospitalDetails">
    <div id="hospitalNameAddress">
        <p><b>Azienda Ospedaliera Antonio Cardarelli </b></p>
        <p>Via A. Cardarelli 9, 80131 Napoli</p>
    </div>
    <button class="btn2" id="infoButton" type="button">INFO</button>
</div>
<div id="dayChooser">
    <p style="margin: auto"><b>Scegli un orario</b></p>
    <div id="filterDays">
        <button class="btn2 active" id="filterAllHours" type="button">Tutti (11)</button>
        <button class="btn2" id="filterAM" type="button">Mattina (6)</button>
        <button class="btn2" id="filterPM" type="button">Pomeriggio (5)</button>
    </div>
</div>
<button class="btn btn-primary available-hour" id="available-hour1" type="button">7:30</button>
<button class="btn btn-primary available-hour" id="available-hour2" type="button">8:30</button>
<button class="btn btn-primary available-hour" id="available-hour3" type="button">9:30</button>
<button class="btn btn-primary available-hour" id="available-hour4" type="button">10:30</button>
<button class="btn btn-primary available-hour" id="available-hour5" type="button">11:30</button>
<button class="btn btn-primary available-hour" id="available-hour6" type="button">12:30</button>
<button class="btn btn-primary available-hour" id="available-hour7" type="button">13:30</button>
<button class="btn btn-primary available-hour" id="available-hour8" type="button">14:30</button>
<button class="btn btn-primary available-hour" id="available-hour9" type="button">15:30</button>
<button class="btn btn-primary available-hour" id="available-hour10" type="button">16:30</button>
<button class="btn btn-primary available-hour" id="available-hour11" type="button">17:30</button>
<div class="identity">
    <img class="logo-small" src="../static/img/logo.png">
    <h2 class="tagline-small">Closer. Faster. Safer.</h2>
</div>