<div id="nav">
    <div><a href="javascript:history.back()" id="back"><i class="fas fa-arrow-left"></i></a></div>
    <h1 id="sectiontitle">Informazioni personali</h1>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-bars" style="font-size: 50px;"></i>
                </button>
            </div>
        </nav>
    </div>
</div>
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Menu</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a id="menu" href="#menu">Home</a>
            </li>
            <li class="active">
                <a id="profile" href="#profile">Profilo</a>
            </li>
            <li>
                <a id="pickup" href="#pickup">Ritiro</a>
            </li>
            <li>
                <a id="therapy" href="#therapy">Terapia</a>
            </li>
            <li>
                <a id="notifications" href="#notifications">Notifiche</a>
            </li>
            <li>
                <a id="guide" href="#guide">Guida</a>
            </li>
            <li>
                <a id="settings" href="#settings">Impostazioni</a>
            </li>
        </ul>
    </nav>
</div>
<div id="profileDetails">
    <div id="profileNameCF">
        <p class="description"><b>Username</b></p>
        <p class="description">0896575735</p>
        <p class="description"><b>Codice Fiscale</b></p>
        <p class="description">PIGMFW91M48F428O</p>
    </div>
    <img class="logo-card" src="../static/img/logo.png">
</div>
<p style="text-align: left; margin-bottom: 10px;"><b>Centro ospedaliero di riferimento</b></p>
<div id="hospitalDetails">
    <div id="hospitalNameAddress">
         <p class="description">Azienda Ospedaliera Antonio Cardarelli </p>
        <p class="description">Via A. Cardarelli 9, 80131 Napoli</p>
    </div>
    <button class="btn2" id="infoButton" type="button">INFO</button>
</div>