<div id="nav">
    <div></div>
    <h1 id="sectiontitle">Pickup booked</h1>
    <div></div>
</div>
<div id="hospitalDetails">
    <div id="hospitalNameAddress">
        <p><b>Azienda Ospedaliera Antonio Cardarelli </b></p>
        <p>Via A. Cardarelli 9, 80131 Napoli</p>
    </div>
    <button class="btn2" id="infoButton" type="button">INFO</button>
</div>
<p>Chosen time</p>
<p><b><span id="day-for-pickup"></span></b></p>
<p><b><span id="hour-for-pickup"></span></b></p>
<div id="pickupcode">
    <p>Show the QR code</p>
    <img src="../static/img/qrcode.png" style="width: 80vw">
    <p>or enter the code</p>
    <p><b>AXY247WEKST</b></p>
</div>