<div id="nav">
    <div></div>
    <h1 id="sectiontitle">Ritiro prenotato</h1>
    <div><a href="#tutorial"><i class="far fa-question-circle"></i></a></div>
</div>
<div id="hospitalDetails">
    <div id="hospitalNameAddress">
        <p><b>Azienda Ospedaliera Antonio Cardarelli </b></p>
        <p>Via A. Cardarelli 9, 80131 Napoli</p>
    </div>
    <button class="btn2" id="infoButton" type="button">INFO</button>
</div>
<p>Orario scelto</p>
<p><b><span id="day-for-pickup"></span></b></p>
<p><b><span id="hour-for-pickup"></span></b></p>
<div id="pickupcode">
    <p>Mostra il QR Code</p>
    <img src="../static/img/qrcode.png" style="width: 80vw">
    <p>opppure digita il codice</p>
    <p><b>AXY247WEKST</b></p>
</div>
<div>
    <h4><a href="#pickup" id="undopickup">Annulla ritiro</a></h4>
</div>