<div id="nav">
    <div></div>
    <h1 id="sectiontitle">Settings</h1>
    <div></div>
</div>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title panel-title1">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Language <i class="fas fa-angle-down"></i></a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item active-item">English</li>
        <li class="list-group-item">German</li>
        <li class="list-group-item">French</li>
        <li class="list-group-item">Italian</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title panel-title2">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Notifications <i class="fas fa-angle-down"></i></a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <h5>Push</h5>
      <ul class="list-group">
        <li class="list-group-item active-item">On</li>
        <li class="list-group-item">Off</li>
      </ul>
      <h5>Email</h5>
      <ul class="list-group">
        <li class="list-group-item active-item">On</li>
        <li class="list-group-item">Off</li>
      </ul>
      <h5>SMS</h5>
      <ul class="list-group">
        <li class="list-group-item active-item">On</li>
        <li class="list-group-item">Off</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title panel-title3">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Credits <i class="fas fa-angle-down"></i></a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body"><p>Web app created by the Enk team for the Maxathon 2020.</p><p>Icons created by <a href="http://www.freepik.com/" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/free-icon/vitamin_3047656" title="Linector">Linector</a>, <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a>, <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> and <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> on <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>.</p></div>
    </div>
  </div>
  <div>
    <h4><a href="#profile" id="profile">Profile</a></h4>
  </div>
  <div>
    <h4><a href="#choosenewpassword" id="choosenewpassword">Change password</a></h4>
  </div>
  <div>
  	<h4><a href="#logout" id="logout">Logout</a></h4>
  </div>
</div>