<div id="nav">
    <div></div>
    <h1 id="sectiontitle">Impostazioni</h1>
    <div></div>
</div>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title panel-title1">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Lingua <i class="fas fa-angle-down"></i></a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item active-item">Italiano</li>
        <li class="list-group-item">Inglese</li>
        <li class="list-group-item">Tedesco</li>
        <li class="list-group-item">Francese</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title panel-title2">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Credits <i class="fas fa-angle-down"></i></a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body"><p>Web app creata dal team1 per il Codemotion <a href="https://events.codemotion.com/hackathons/devs-for-health-hiv/home/">Devs for Health in HIV</a> hackathon 2020.</p><p>Icone realizzate da <a href="http://www.freepik.com/" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/free-icon/vitamin_3047656" title="Linector">Linector</a>, <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> e <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> su <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>.</p></div>
    </div>
  </div>
  <div>
    <h4><a href="#profile" id="profile">Profilo</a></h4>
  </div>
  <div>
    <h4><a href="#choosenewpassword" id="choosenewpassword">Cambia password</a></h4>
  </div>
  <div>
  	<h4><a href="#login" id="toLogin">Logout</a></h4>
  </div>
</div>