<div id="nav">
    <div><a href="#login" id="back"><i class="fas fa-arrow-left"></i></a></div>
    <h1 id="sectiontitle">Login data</h1>
    <div></div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
        <form action="/" method="post" id="signupForm" name="signup" enctype="multipart/form-data">
            <div class="control-group">
                <p>Enter the code provided on the card that the hospital center where you have decided to pick up the therapy has given you in the "Username" field.</p>
                <div class="form-group floating-label-form-group controls"><label>Username</label><input class="form-control" type="text" id="username" name="username" placeholder="Userame"><small class="form-text text-danger help-block"></small></div>
            </div>
            <div class="control-group">
                <p>Choose a password that contains at least 8 characters, one uppercase letter and one number.</p>
                <div class="form-group floating-label-form-group controls"><label>Password</label><input class="form-control" type="password" id="password" name="password" placeholder="Password"><small class="form-text text-danger help-block"></small></div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls"><label>Repeat password</label><input class="form-control" type="password" id="verify" name="verify" placeholder="Repeat password"><small class="form-text text-danger help-block"></small></div>
            </div>
            <div id="success"></div>
            <div class="form-group"><button class="btn btn-primary btn-success" id="signupButton" type="button">Sign up</button></div>
        </form>
    </div>
</div>
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Error</h5>
                <?xml version="1.0"?>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g>
                <path xmlns="http://www.w3.org/2000/svg" style="" d="M256,0C115.3,0,0,115.3,0,256s115.3,256,256,256s256-115.3,256-256S396.7,0,256,0z" fill="#f40000" data-original="#ff3636" class=""/>
                <path xmlns="http://www.w3.org/2000/svg" style="" d="M512,256c0,140.7-115.3,256-256,256V0C396.7,0,512,115.3,512,256z" fill="#f40000" data-original="#f40000" class=""/>
                <polygon xmlns="http://www.w3.org/2000/svg" style="" points="298.299,256 383.2,340.901 340.901,383.2 256,298.299 171.099,383.2 128.8,340.901   213.701,256 128.8,171.099 171.099,128.8 256,213.701 340.901,128.8 383.2,171.099 " fill="#d3d3d8" data-original="#e7e7e7" class=""/>
                <polygon xmlns="http://www.w3.org/2000/svg" style="" points="298.299,256 383.2,340.901 340.901,383.2 256,298.299 256,213.701 340.901,128.8   383.2,171.099 " fill="#d3d3d8" data-original="#d3d3d8" class=""/>
                <g xmlns="http://www.w3.org/2000/svg">
                </g>
                </g></svg>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="messageModalContent" class="alert alert-success">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>