<div id="nav">
    <div><a href="#newpassword" id="back"><i class="fas fa-arrow-left"></i></a></div>
    <h1>Verifica cellulare</h1>
    <div></div>
</div>
<div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
        <form action="/" method="post" id="verifyphoneforrecoveryForm" name="verifyphoneforrecovery" enctype="multipart/form-data">
            <p>Un SMS di attivazione è stato inviato al seguente numero di cellulare:  </p>
            <p>3615483639 </p>
            <div class="control-group">
                <p>Inserisci nella casella sottostante il codice che ti è stato inviato via SMS:</p>
                <div class="form-group floating-label-form-group controls"><label>Codice di verifica</label><input class="form-control" type="text" id="smscode" name="smscode" placeholder="Codice di verifica"><small class="form-text text-danger help-block"></small></div>
            </div>
            <div id="success"></div>
            <div class="form-group"><button class="btn btn-primary btn-success" id="verifyphoneforrecoveryButton" type="submit">Verifica</button></div>
        </form>
    </div>
</div>
<div class="identity">
    <img class="logo-small" src="../static/img/logo.png">
    <h2 class="tagline-small">Closer. Faster. Safer.</h2>
</div>